USE [Protekta]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[FechaEvento] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[BitacoraTipoEventoId] [int] NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraTipoEvento]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraTipoEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BitacoraTipoEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[NombreTabla] [varchar](100) NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[DVV] [varchar](max) NULL,
 CONSTRAINT [PK_DigitoVerificadorVertical] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familia]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaPatente]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaPatente](
	[FamiliaId] [int] NOT NULL,
	[FamiliaPadreId] [int] NOT NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[FamiliaId] ASC,
	[FamiliaPadreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Codigo] [varchar](50) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[DVH] [varchar](500) NOT NULL,
	[IdIdioma] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioFamiliia]    Script Date: 8/23/2026 12:44:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioFamiliia](
	[UsuarioId] [int] NOT NULL,
	[FamiliaId] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioFamiliia] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[FamiliaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Descripcion], [FechaEvento], [UsuarioId], [BitacoraTipoEventoId]) VALUES (1, N'Login: usuario inicio sesion', CAST(N'2026-08-22T21:07:38.720' AS DateTime), 1, 1)
INSERT [dbo].[Bitacora] ([Id], [Descripcion], [FechaEvento], [UsuarioId], [BitacoraTipoEventoId]) VALUES (2, N'Login: usuario inicio sesion', CAST(N'2026-08-22T21:15:57.193' AS DateTime), 1, 1)
INSERT [dbo].[Bitacora] ([Id], [Descripcion], [FechaEvento], [UsuarioId], [BitacoraTipoEventoId]) VALUES (3, N'Login: usuario inicio sesion', CAST(N'2026-08-22T21:18:06.433' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[BitacoraTipoEvento] ON 

INSERT [dbo].[BitacoraTipoEvento] ([Id], [Nombre]) VALUES (1, N'Informacion')
INSERT [dbo].[BitacoraTipoEvento] ([Id], [Nombre]) VALUES (2, N'Advertencia')
INSERT [dbo].[BitacoraTipoEvento] ([Id], [Nombre]) VALUES (3, N'Error')
SET IDENTITY_INSERT [dbo].[BitacoraTipoEvento] OFF
GO
INSERT [dbo].[DigitoVerificadorVertical] ([NombreTabla], [FechaActualizacion], [UsuarioId], [DVV]) VALUES (N'Usuario', CAST(N'2016-08-15T00:00:00.000' AS DateTime), 1, N'2ZhLrgPXm4ip6d/swaOPj4J8OhjMQVGXM+0SzAIo8VY=')
GO
SET IDENTITY_INSERT [dbo].[Familia] ON 

INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (1, N'WebMaster')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (2, N'Operador')
INSERT [dbo].[Familia] ([Id], [Nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[Familia] OFF
GO
INSERT [dbo].[FamiliaPatente] ([FamiliaId], [FamiliaPadreId]) VALUES (5, 1)
INSERT [dbo].[FamiliaPatente] ([FamiliaId], [FamiliaPadreId]) VALUES (5, 2)
INSERT [dbo].[FamiliaPatente] ([FamiliaId], [FamiliaPadreId]) VALUES (5, 3)
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo]) VALUES (1, N'English', N'en-US')
INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo]) VALUES (2, N'Español', N'es-AR')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Email], [Password], [Nombre], [Apellido], [Activo], [DVH], [IdIdioma]) VALUES (1, N'pepe@gmail.com', N'AUU4xtpxts8HW0fzyPyhk5TFvlH1SSR4zfscTSlm7RQ=', N'Pepe', N'Argento', 1, N'9VIFRg7wn8XhIy6po3SG/BtWP5y8hXprDvSjcARtmSY=', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_BitacoraTipoEvento] FOREIGN KEY([BitacoraTipoEventoId])
REFERENCES [dbo].[BitacoraTipoEvento] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_BitacoraTipoEvento]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[DigitoVerificadorVertical]  WITH CHECK ADD  CONSTRAINT [FK_DigitoVerificadorVertical_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[DigitoVerificadorVertical] CHECK CONSTRAINT [FK_DigitoVerificadorVertical_Usuario]
GO
ALTER TABLE [dbo].[FamiliaPatente]  WITH CHECK ADD  CONSTRAINT [FK_Patente_Familia] FOREIGN KEY([FamiliaId])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[FamiliaPatente] CHECK CONSTRAINT [FK_Patente_Familia]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[UsuarioFamiliia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFamiliia_Familia] FOREIGN KEY([FamiliaId])
REFERENCES [dbo].[Familia] ([Id])
GO
ALTER TABLE [dbo].[UsuarioFamiliia] CHECK CONSTRAINT [FK_UsuarioFamiliia_Familia]
GO
ALTER TABLE [dbo].[UsuarioFamiliia]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFamiliia_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[UsuarioFamiliia] CHECK CONSTRAINT [FK_UsuarioFamiliia_Usuario]
GO
