USE [master]
GO
/****** Object:  Database [Protekta]    Script Date: 8/27/2026 1:13:32 AM ******/
CREATE DATABASE [Protekta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Protekta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\Protekta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Protekta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2022\MSSQL\DATA\Protekta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Protekta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Protekta]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[FechaEvento] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[BitacoraTipoEventoId] [int] NOT NULL,
	[DVH] [varchar](max) NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraTipoEvento]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraTipoEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BitacoraTipoEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[NombreTabla] [varchar](100) NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[DVV] [varchar](max) NULL,
 CONSTRAINT [PK_DigitoVerificadorVertical] PRIMARY KEY CLUSTERED 
(
	[NombreTabla] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Codigo] [varchar](50) NULL,
 CONSTRAINT [PK_Idioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Familia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoPermiso]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoPermiso](
	[PermisoId] [int] NOT NULL,
	[PermisoPadreId] [int] NOT NULL,
 CONSTRAINT [PK_Patente] PRIMARY KEY CLUSTERED 
(
	[PermisoId] ASC,
	[PermisoPadreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](500) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[DVH] [varchar](500) NOT NULL,
	[IdIdioma] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 8/27/2026 1:13:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[UsuarioId] [int] NOT NULL,
	[PermisoId] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioFamiliia] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[PermisoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Id], [Descripcion], [FechaEvento], [UsuarioId], [BitacoraTipoEventoId], [DVH]) VALUES (1, N'Login: usuario inicio sesion', CAST(N'2026-08-22T21:07:38.720' AS DateTime), 1, 1, N'PX9eYbJ62vtVtBqBXCvci+/W+dNWoTdQEg7qZCg/s4s=')
INSERT [dbo].[Bitacora] ([Id], [Descripcion], [FechaEvento], [UsuarioId], [BitacoraTipoEventoId], [DVH]) VALUES (2, N'Login: usuario inicio sesion', CAST(N'2026-08-22T21:15:57.193' AS DateTime), 1, 1, N'coqAo4Il8iN2sy06iUMfTsl277pz5bjYvSV9OHEDz5I=')
INSERT [dbo].[Bitacora] ([Id], [Descripcion], [FechaEvento], [UsuarioId], [BitacoraTipoEventoId], [DVH]) VALUES (3, N'Login: usuario inicio sesion', CAST(N'2026-08-22T21:18:06.433' AS DateTime), 1, 1, N'0HLanksajomgIZHStIhpEcmfMoK8jLzoiU7HW9XL6E4=')
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[BitacoraTipoEvento] ON 

INSERT [dbo].[BitacoraTipoEvento] ([Id], [Nombre]) VALUES (1, N'Informacion')
INSERT [dbo].[BitacoraTipoEvento] ([Id], [Nombre]) VALUES (2, N'Advertencia')
INSERT [dbo].[BitacoraTipoEvento] ([Id], [Nombre]) VALUES (3, N'Error')
SET IDENTITY_INSERT [dbo].[BitacoraTipoEvento] OFF
GO
INSERT [dbo].[DigitoVerificadorVertical] ([NombreTabla], [FechaActualizacion], [UsuarioId], [DVV]) VALUES (N'Bitacora', CAST(N'2026-08-26T21:45:35.770' AS DateTime), 1, N'rBjPN9rqK+HJsxqJwlRD098RIGr37elQcyXDlF1LI1Q=')
INSERT [dbo].[DigitoVerificadorVertical] ([NombreTabla], [FechaActualizacion], [UsuarioId], [DVV]) VALUES (N'Usuario', CAST(N'2026-08-26T21:45:35.727' AS DateTime), 1, N'ljdNm8idcw59nKbp6GJW55VuLT5PIqvvgTAErqpJAhQ=')
GO
SET IDENTITY_INSERT [dbo].[Idioma] ON 

INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo]) VALUES (1, N'English', N'en-US')
INSERT [dbo].[Idioma] ([Id], [Nombre], [Codigo]) VALUES (2, N'Español', N'es-AR')
SET IDENTITY_INSERT [dbo].[Idioma] OFF
GO
SET IDENTITY_INSERT [dbo].[Permiso] ON 

INSERT [dbo].[Permiso] ([Id], [Nombre]) VALUES (1, N'WebMaster')
INSERT [dbo].[Permiso] ([Id], [Nombre]) VALUES (2, N'Administrador')
INSERT [dbo].[Permiso] ([Id], [Nombre]) VALUES (3, N'Cliente')
SET IDENTITY_INSERT [dbo].[Permiso] OFF
GO
INSERT [dbo].[PermisoPermiso] ([PermisoId], [PermisoPadreId]) VALUES (6, 3)
INSERT [dbo].[PermisoPermiso] ([PermisoId], [PermisoPadreId]) VALUES (7, 1)
INSERT [dbo].[PermisoPermiso] ([PermisoId], [PermisoPadreId]) VALUES (7, 2)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Email], [Password], [Nombre], [Apellido], [Activo], [DVH], [IdIdioma]) VALUES (1, N'pepe@gmail.com', N'AUU4xtpxts8HW0fzyPyhk5TFvlH1SSR4zfscTSlm7RQ=', N'Pepe', N'Argento', 1, N'9VIFRg7wn8XhIy6po3SG/BtWP5y8hXprDvSjcARtmSY=', 1)
INSERT [dbo].[Usuario] ([Id], [Email], [Password], [Nombre], [Apellido], [Activo], [DVH], [IdIdioma]) VALUES (2, N'tito@gmail.com', N'AUU4xtpxts8HW0fzyPyhk5TFvlH1SSR4zfscTSlm7RQ=', N'Tito', N'Puente', 1, N'frttZeSyOrAIAPyjkSrg2erY8fW8q5GLnc5O5Dz7pSQ=', 2)
INSERT [dbo].[Usuario] ([Id], [Email], [Password], [Nombre], [Apellido], [Activo], [DVH], [IdIdioma]) VALUES (3, N'ale@gmail.com', N'AUU4xtpxts8HW0fzyPyhk5TFvlH1SSR4zfscTSlm7RQ=', N'Alexander', N'Saint Paul', 1, N'hfxafNYYwAwcVJ/YZlSWejKmZrXNEpOtmAFxdC8nvWU=', 2)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PermisoId]) VALUES (1, 2)
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PermisoId]) VALUES (2, 3)
INSERT [dbo].[UsuarioPermiso] ([UsuarioId], [PermisoId]) VALUES (3, 1)
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_BitacoraTipoEvento] FOREIGN KEY([BitacoraTipoEventoId])
REFERENCES [dbo].[BitacoraTipoEvento] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_BitacoraTipoEvento]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuario]
GO
ALTER TABLE [dbo].[DigitoVerificadorVertical]  WITH CHECK ADD  CONSTRAINT [FK_DigitoVerificadorVertical_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[DigitoVerificadorVertical] CHECK CONSTRAINT [FK_DigitoVerificadorVertical_Usuario]
GO
ALTER TABLE [dbo].[PermisoPermiso]  WITH CHECK ADD  CONSTRAINT [FK_Patente_Familia] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[PermisoPermiso] CHECK CONSTRAINT [FK_Patente_Familia]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Idioma] FOREIGN KEY([IdIdioma])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Idioma]
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFamiliia_Familia] FOREIGN KEY([PermisoId])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioFamiliia_Familia]
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioFamiliia_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioFamiliia_Usuario]
GO
USE [master]
GO
